

@font-face {
    font-family:"minhaFonte";
    src: url("../fontes/WonderSmileBoldItalic_PERSONAL_USE_ONLY.otf");
}

h1{
    color: brown;
    text-align:justify;
    font-size:50px ;
    font-family: 'Macondo', cursive;
}
  /* .ponto chama a classe */
.tituloParagrafo{
    color: rgb(224, 20, 71);
    font-size:30px ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#especial{
    color: rgb(12, 13, 14);
    font-size:10px ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.parag2{
    background-color: black;
    font-family:"minhaFonte" ;
}